<a href="https://colab.research.google.com/github/SalahuddinRahat/my_personal_project/blob/main/list_dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###STRING OPERATION

In [1]:
str1 = "ajke"
str2 = "ct"
str3 = "chilo"
bakko = str1 + ' ' + str2 + ' ' + str3
print(bakko)

ajke ct chilo

In [4]:
str4 = 'school'
str4[0]

's'

In [5]:
dept = 'mechanical engineering'
dept[0:10]

'mechanical'

In [6]:
dept2 = 'mechanical'
dept2[::2]

'mcaia'

In [8]:
dept2[::3]

'mhil'

In [9]:
dept2[1::2]

'ehncl'

In [10]:
str5 = 'Hello World'
print(str5.upper())
print(str5.lower())

HELLO WORLD
hello world

In [13]:
str6 = 'ámar cgpa 4.00'
print(str6.replace('4.00','3.00'))

ámar cgpa 3.00

how many times a word repeated?

In [16]:
dept = 'mechanical engineering'
char = input("give me letter: ")
kotoghula_e = dept.count(char)
print(f"the letter '{char}' repeated {kotoghula_e} times")

give me letter: e
the letter 'e' repeated 4 times

In [7]:
def main():
  name = "salahuddin"
  count = 0
  for char in name:
    if char in ['a','e','i','o','u']:
      count += 1


  print(f"the number of vowel used {count} times")
if __name__ == "__main__":
  main()

the number of vowel used 4 times

###List
LIst hocche ekta collection of data(data type)
* order
* mutable:modify kora jay
* indexing

In [18]:
fruits = ["Apple", "Banana", "cherry"]
fruits[0] = "grape"
print(fruits)
fruits[0]

['grape', 'Banana', 'cherry']

'grape'

ADD element in List
* append

In [19]:
number = [1,2,3,4,5]
number.append(6)
number

[1, 2, 3, 4, 5, 6]

###Remove element
* remove

In [20]:
number.remove(3)
number

[1, 2, 4, 5, 6]

In [21]:
number1 = [1,2,3,4,5,6,7,8,9,10]
number1[0:5]

[1, 2, 3, 4, 5]

###List reverse
* ::-1
* -1 is for reverse order of list

In [22]:
number = [2,3,4,5]
rev_list = number[::-1]
rev_list

[5, 4, 3, 2]

###Maximum Minimum find
* using max and min function

In [23]:
print(max(number))
print(min(number))

5
2

##Dictionary
* ordered/unordered
* mutable(value ke)
* keys immutable

In [25]:
student = {"name":"jarif", "age":20,"cgpa":4,"basha":"halisohor"}
print(student["name"])
print(student)

jarif
{'name': 'jarif', 'age': 20, 'cgpa': 4, 'basha': 'halisohor'}

In [26]:
student["age"] = 21
print(student)

{'name': 'jarif', 'age': 21, 'cgpa': 4, 'basha': 'halisohor'}

###removing

In [27]:
student.pop("cgpa")
print(student)

{'name': 'jarif', 'age': 21, 'basha': 'halisohor'}

**Merge two dictionary**

In [28]:
dict1 = {"name":"rahat","age":20}
dict2 = {"house":"Chattogram"}
dict3 = {**dict1,**dict2}
print(dict3)

{'name': 'rahat', 'age': 20, 'house': 'Chattogram'}

**Conditional**

In [29]:
num =int(input("enetr a number: "))
if num%2 == 0:
  print("the number is even")
else:
  print("the number is odd")

enetr a number: 45
the number is odd

In [30]:
#student gradesheet
number = int(input("add your number: "))
if number >=80:
  print("A+")
elif number >=70:
  print("A")
elif number >=50 and number <70:
  print("B")
elif number >30 and number < 50:
  pritn("C")
else:
  print("Fail")

add your number: 55
B

**IF ELSE in one line**

In [33]:
age = int(input("age: "))
party = "you can go" if age >= 18 else "you can't"
print(party)

age: 45
you can go